body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/*defining styleguide styles */
.container{
    margin-left: 60px;
    margin-top: 30px;
}
.sub{
    border-bottom: .5px dashed grey;
    padding: 30px 0;
}
.bold{
    font-weight: bold;
}
.styleguide-title{
    font-family: helvetica;
}
.insprong{
    margin: 40px 0px 40px 30px;
} 
p{
    width: 550px;
}
a{
    color: #606060;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    color: #D55D5F; 
}
.page-color{
    color: white; 
}
/*defining the fonts */
.nav-title{
    font-family: 'PT Sans', sans-serif;
}
h2{
    font-family: 'PT Sans'
}
h3,
p{
    color: #606060;
    font-family: 'PT Sans';
}
.color-1{
    color: #D55D5F;
}
.selected{
    color: #D55D5F;
}
.color-footer-text {
    color: #70392C;
}

/* defining the colors */ 
.color{
    width: 100px;
    height: 150px;
    display: inline-block;
    margin-right: 30px;
    color: white;
    font-family: helvetica;
    padding: 10px;
    border-radius: 20px;
}

.color1{
    background-color: #FBFBFB;
}
.color2{
    background-color: #606060;
    
}
.color3{
    background-color: #D55D5F;
}

.color4{
    background-color: #70392C;
}
.color5{
    background-color: #000000;
}

/* input styling */
.contactform{
    width: 300px;
}
input,
textarea{
    padding: 10px 0;
    border: none;
    border-bottom: .5px solid grey;
}
/* button styling */


/* icons styling */ 
.icon{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.row{
    margin-bottom: 100px;
}
.column1{
    width: 400px;
    display: inline-block;
}
.column2{
    width: 400px;
    display: inline-block;
}